html {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  width: 1024px;
  margin: 0 auto;
}

#header {
  color: #eac67a;
  font-weight: bolder;
  text-align: center;
  background-color: #18121e;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 3em;
}

#left-content {
  float: left;
  width: 70%;
  line-height: 30px;
}

#image {
  float: left;
  margin-right: 20px;
  width: 400px;
  height: 500px;
}

#contact {
  float: left;
  width: 30%;
  line-height: 30px;
}
